<div class="px-8 md:px-16" (mouseenter)="showArrows.set(true)" (mouseleave)="showArrows.set(false)">
    <h2 class="text-sm font-black uppercase tracking-[0.4em] text-gray-600 mb-8 border-l-2 border-nebula-violet pl-4">
        {{ categoryName }}
    </h2>

    <div class="relative group">
        <div class="flex overflow-x-scroll scrollbar-hide gap-4 pb-4 px-2" #sliderRef>
            @for (item of content(); track item.id) {
            <a [routerLink]="['/watch', item.id]"
                class="min-w-[160px] md:min-w-[240px] relative transition-all duration-300 hover:scale-[1.02] active:scale-95 group/item">
                <div
                    class="rounded-xl overflow-hidden border border-white/5 group-hover/item:border-white/20 transition-colors bg-white/5 aspect-[2/3]">
                    <img [src]="SMALL_IMG_BASE_URL + item.poster_path" [alt]="item.title || item.name"
                        class="w-full h-full object-cover transition-transform duration-500 group-hover/item:scale-105" />
                    <div
                        class="absolute inset-0 bg-nebula-dark/60 opacity-0 group-hover/item:opacity-100 transition-opacity flex items-end p-4">
                        <span
                            class="text-[10px] font-black text-nebula-violet uppercase tracking-[0.2em] leading-tight bg-white px-2 py-1 rounded">
                            {{ item.title || item.name }}
                        </span>
                    </div>
                </div>
            </a>
            }
        </div>

        @if (showArrows()) {
        <button
            class="absolute top-1/2 -translate-y-1/2 -left-4 z-40 bg-nebula-dark text-white p-4 rounded-full border border-nebula-violet/30 hover:bg-nebula-violet shadow-lg shadow-nebula-violet/20 transition-all opacity-0 group-hover:opacity-100"
            (click)="scrollLeft()">
            <lucide-icon name="chevron-left" [size]="20"></lucide-icon>
        </button>

        <button
            class="absolute top-1/2 -translate-y-1/2 -right-4 z-40 bg-nebula-dark text-white p-4 rounded-full border border-nebula-violet/30 hover:bg-nebula-violet shadow-lg shadow-nebula-violet/20 transition-all opacity-0 group-hover:opacity-100"
            (click)="scrollRight()">
            <lucide-icon name="chevron-right" [size]="20"></lucide-icon>
        </button>
        }
    </div>
</div>