<header
  class="max-w-7xl mx-auto flex items-center justify-between p-6 px-8 sticky top-0 z-[100] backdrop-blur-xl bg-nebula-dark/80 border-b border-white/5">
  <div class="flex items-center gap-12">
    <a routerLink="/" class="flex items-center space-x-3 group">
      <div
        class="w-8 h-8 bg-nebula-violet rounded-lg flex items-center justify-center transition-transform group-hover:scale-110">
        <span class="text-white font-bold text-sm">C</span>
      </div>
      <span class="text-white font-bold text-lg tracking-tight uppercase hidden xs:block">Cognitive Stream</span>
    </a>

    <!-- desktop items -->
    <nav class="hidden md:flex gap-8 items-center text-xs font-bold uppercase tracking-widest">
      <a routerLink="/" class="text-gray-500 hover:text-white transition-colors"
        (click)="setContentType('movie')">Movies</a>
      <a routerLink="/" class="text-gray-500 hover:text-white transition-colors"
        (click)="setContentType('tv')">Universe</a>
      <a routerLink="/history" class="text-gray-500 hover:text-white transition-colors">Trajectory</a>
    </nav>
  </div>

  <div class="flex gap-8 items-center">
    <a routerLink="/search" class="text-gray-500 hover:text-white transition-colors">
      <lucide-icon name="search" class="size-4"></lucide-icon>
    </a>

    <div class="flex items-center gap-4 border-l border-white/10 pl-8">
      <img
        [src]="authService.user()?.image || 'https://api.dicebear.com/7.x/avataaars/svg?seed=' + authService.user()?.username"
        alt="Avatar" class="h-8 w-8 rounded-lg object-cover ring-1 ring-white/20" />
      <button (click)="logout()" class="p-2 text-gray-500 hover:text-red-400 transition-all">
        <lucide-icon name="log-out" class="size-4"></lucide-icon>
      </button>
    </div>

    <div class="md:hidden">
      <button (click)="toggleMobileMenu()" class="p-2 text-gray-500 ">
        <lucide-icon name="menu" class="size-5"></lucide-icon>
      </button>
    </div>
  </div>

  <!-- mobile menu -->
  <div *ngIf="isMobileMenuOpen()"
    class="absolute top-24 left-6 right-6 p-6 bg-nebula-dark border border-white/10 rounded-2xl shadow-2xl md:hidden z-[101]">
    <nav class="flex flex-col gap-6 text-sm font-bold uppercase tracking-widest">
      <a routerLink="/" class="text-gray-400" (click)="setContentType('movie')">Movies</a>
      <a routerLink="/" class="text-gray-400" (click)="setContentType('tv')">Universe</a>
      <a routerLink="/history" class="text-gray-400" (click)="toggleMobileMenu()">Trajectory</a>
    </nav>
  </div>
</header>